html, body {
    width: 20em;
    text-align: center;
    align-items: center;
}

#intro-text {
    text-align: center;
}

#start-conversion {
    align-self: center;
    margin: 2em auto;
    width: 12em;
    height: 3em;
    cursor: pointer;
    background-color: #123456;
    color: #eecc44;
    font-weight: bolder;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5em;
    border-style: none;
}

#start-conversion:hover {
    background-color: #345678;
}

#error {
    display: none;
    padding: 1em;
    color: red;
}